body{
    background-color: grey;
    margin: 0;
}
header{
    background-color: white;
    width: 100%;
    text-align: center;
}
section{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-bottom: 20px;
    padding: 40px;
    border: 1px solid black;
}
h2{
    text-align: center;
    background-color: lightgrey;
    font-size: 20px;
}
img{
    width: 300px;
    display: block;
    margin: auto;
}
footer{
    background-color: white;
    text-align: center;
}